/MarcelJoachimKloubert.DuplicateFinder.v12.suo
/MarcelJoachimKloubert.DuplicateFinder/bin
/MarcelJoachimKloubert.DuplicateFinder/obj
/MarcelJoachimKloubert.DuplicateFinder/MarcelJoachimKloubert.DuplicateFinder.vbproj.user
